body {
    height: 100%;
    width: 100%;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 286px; /* Set the width of the sidebar */
    overflow-y : auto;
    overflow-x : visible;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
}

.map {
    height: 95%; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */
    overflow-y : auto;
    overflow-x : visible;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 286;
    background-image: url('../assets/background.jpg');
}

.control_bar{
    width: 100%;
    height: 5%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 286px;
    background-color: #111;
}

#go_to_text_edit_button{
    height: 100%;
    position: fixed;
    right: 12px;
    background-color: red;
}

#output{
    position: fixed;
    left: 1200px;
    background-color: black;
}

.html2canvas-container { width: 4000px !important; height: 4000px !important; }

.modal-full {
    min-width: 80%;
    margin-left: 80;
}

.modal-full .modal-content {
    min-height: 90vh;
}

.labelBig{
    font-size: 32px;
}

.checkmark {
    height: 32px;
    width: 32px;
}

.exportPDFButton{
    background-color: black;
    font-size: 32px;
    font-weight: bold;
    color: white;
}